/* --> Cards Style <-- */
.card-content {
  width: 100%;
  background: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin: 2rem auto;
  color: var(--text-color);
  transition: all var(--transition);
}

.card-content:hover {
  border: 3px solid var(--highlight-color);
  box-shadow: 0 6px 20px rgba(0, 196, 204, 0.4);
}

.card-content h2 {
  margin: 2rem auto;
  color: var(--primary);
  text-align: center;
}

/* --> Selectors Style <-- */
.selectors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* --> Input Group Style <-- */
.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
